.container {
    display: inline-flex;
    margin-right: 50px;
    position: relative;
}

.options {
    background-color: rgba(0,0,0,.9);
    border: 1px solid hsla(0,0%,40%,.5);
    border-radius: 0 0 2px 2px;
    cursor: default;
    box-shadow: inset 0 0 2px rgb(0 0 0 / 70%), 0 5px 10px rgb(0 0 0 / 25%);
    margin-top: 13px!important;
    padding: 5px 0 7px;
    min-width: 100%;
    max-width: 300px;
    min-height: 42px;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 99999;
    transform: translate(-49.5%);
}

.options:before {
    left: 36px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAMCAYAAAC9QufkAAABAUlEQVR42pyRTW6DMBCFMaYpTRfNKbIoe3bNIptabdIT8M8uh8ktcoCehDUcgB2hJIqyAERnkB25piFSRnqyn+d9T0IQbThEuz6dGhwL3xwiSZcVhuGr+qbk/ywolxHHMbNtewfnB3ppJ+cvEAYeUFEUMcuyvnVdP+IJ/lPspKIeFtAE9BgEgQAP4PdwntDDJ6xwz3OipL/gowngOwYppRWCoBxUKAUmzyPXmyff93vQMIwf8CUHc7UAcmvwU85pz67rCrD8BxwUeJ73hRx1HGeZJMkmTdNF0zRYdr7yS9uu67SiKOZ1Xc8YYxVt23abZdkbgGQEHBRA/oWguXd+BRgAN1Nmmu+s080AAAAASUVORK5CYII=) no-repeat;
    margin-bottom: -1px;
    margin-left: -7px;
    width: 15px;
    height: 12px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    content: "";
}

.option {
    color: #999;
    overflow: hidden;
    padding: 0 18px;
    line-height: 38px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: color .2s,background-color .2s;
}

.option.selected {
    border-color: hsla(0,0%,80%,.5);
    border-width: 0 0 1px;
    border-style: dashed;
    color: #ccc;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    letter-spacing: .43px;
    transition: all .2s;
    line-height: 16px;
    padding: 0 12px 0 0;
}

.option.selected:hover {
    border-bottom: 1px dashed;
    color: #fff;
    text-decoration: none;
}

.option.selected:after {
    background: url(data:image/svg+xml;base64,PHN2ZyBiYXNlUHJvZmlsZT0iYmFzaWMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDkgNSI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTkgMEw0LjUgMy42IDAgMHYxbDQuNSA0TDkgMXoiLz48L3N2Zz4=) no-repeat;
    margin-left: 3px;
    width: 9px;
    height: 6px;
    opacity: .8;
    position: absolute;
    top: 7px;
    right: 0;
    vertical-align: middle;
    content: "";
    transition: all .2s;
}

.option:hover {
    background-color: rgba(35,35,35,.8);
    color: #ccc;
}

.optionIcon {
    display: inline-flex;
    justify-content: center;
    margin-right: 8px;
    width: 21px;
}

.optionIconImg {
    width: 100%;
}

