@font-face {
    font-family: WarheliosRegular_Web;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Warhelios-Regular_Web.eot);
    src: url(../fonts/Warhelios-Regular_Web.eot?#iefix)
            format('embedded-opentype'),
        url(../fonts/Warhelios-Regular_Web.woff2) format('woff2'),
        url(../fonts/Warhelios-Regular_Web.woff) format('woff'),
        url(../fonts/Warhelios-Regular_Web.ttf) format('truetype');
}

@font-face {
    font-family: WarheliosBold_Web;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Warhelios-Bold_Web.eot);
    src: url(../fonts/Warhelios-Bold_Web.eot?#iefix)
            format('embedded-opentype'),
        url(../fonts/Warhelios-Bold_Web.woff2) format('woff2'),
        url(../fonts/Warhelios-Bold_Web.woff) format('woff'),
        url(../fonts/Warhelios-Bold_Web.ttf) format('truetype');
}

body {
    margin: 0;
    font-family: WarheliosRegular_Web,Arial Narrow,Tahoma,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #171717;
    color: #999;
}
